In [9]:
import pandas as pd

file = "files_for_lab/csv_files/marketing_customer_analysis.csv"

file = pd.read_csv(file)

file.shape

file.columns = file.columns.str.lower()

file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer lifetime value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective to date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location code                  10910 non-null  object
 12  marital status                 10910 non-null  object
 13  monthly premium auto           10910 non-null  int64
 14  months since last claim        10277 non-null  float64
 15  months since policy inception  10910 non-null  int64
 16  number of open complaints      10277 non-null  float64
 17  number of policies             10910 non-null  int64
 18  policy type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew offer type               10910 non-null  object
 21  sales channel                  10910 non-null  object
 22  total claim amount             10910 non-null  float64
 23  vehicle class                  10288 non-null  object
 24  vehicle size                   10288 non-null  object
 25  vehicle type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [19]:
file.isna().sum()

unnamed: 0                          0
customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months_since_last_claim             0
months since policy inception       0
number_of_open_complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [22]:
file.state =file.state.fillna("no_data")
file.response = file.response.fillna("no_data")

file =file.rename(columns= {"months since last claim": "months_since_last_claim", "number of open complaints": "number_of_open_complaints", "vehicle class": "vehicle_class", "vehicle size": "vehicle_size", "vehicle type": "vehicle_type" })

In [16]:
file.months_since_last_claim =file.months_since_last_claim.fillna(0)
file.number_of_open_complaints =file.number_of_open_complaints.fillna(0)

In [24]:
file.vehicle_class =file.vehicle_class.fillna("no_data")
file.vehicle_size =file.vehicle_size.fillna("no_data")
file.vehicle_type =file.vehicle_type.fillna("no_data")

In [25]:
file.isna().sum()

unnamed: 0                       0
customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months_since_last_claim          0
months since policy inception    0
number_of_open_complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

In [26]:
file

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number_of_open_complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,no_data
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,no_data
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,no_data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,no_data
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,no_data,6857.519928,no_data,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,no_data

In [ ]:
file.drop('unnamed: 0', axis='columns', inplace=True)

In [ ]:
file

In [30]:
file =file.rename(columns= {"effective to date": 'effective_to_date'})

In [35]:
file['effective_to_date_months'] = file.loc[:, 'effective_to_date']

In [36]:
file

,customer,state,customer lifetime value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle_class,vehicle_size,vehicle_type,effective_to_date_months
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,no_data,2011-02-18
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,no_data,2011-01-18
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011-02-10
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,no_data,2011-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,2011-01-19
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011-01-06
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,no_data,2011-02-06
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011-02-13
10909,IV32877,no_data,6857.519928,no_data,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,no_data,2011-01-08

In [34]:
file['effective_to_date'] = pd.to_datetime(file["effective_to_date"], errors="coerce")
     
file["effective_to_date"]

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: effective_to_date, Length: 10910, dtype: datetime64[ns]

In [38]:
file['month'] = file['effective_to_date_months'].dt.month

In [49]:


jan_feb_mar = file[file['month'] < 4]

print(jan_feb_mar)

      customer       state  customer lifetime value response  coverage  \
0      DK49336     Arizona              4809.216960       No     Basic
1      KX64629  California              2228.525238       No     Basic
2      LZ68649  Washington             14947.917300       No     Basic
3      XL78013      Oregon             22332.439460      Yes  Extended
4      QA50777      Oregon              9025.067525       No   Premium
...        ...         ...                      ...      ...       ...
10905  FE99816      Nevada             15563.369440       No   Premium
10906  KX53892      Oregon              5259.444853       No     Basic
10907  TL39050     Arizona             23893.304100       No  Extended
10908  WA60547  California             11971.977650       No   Premium
10909  IV32877     no_data              6857.519928  no_data     Basic

      education effective_to_date employmentstatus gender  income  ...  \
0       College        2011-02-18         Employed      M   48029  ...
1       College        2011-01-18       Unemployed      F       0  ...
2      Bachelor        2011-02-10         Employed      M   22139  ...
3       College        2011-01-11         Employed      M   49078  ...
4      Bachelor        2011-01-17    Medical Leave      F   23675  ...
...         ...               ...              ...    ...     ...  ...
10905  Bachelor        2011-01-19       Unemployed      F       0  ...
10906   College        2011-01-06         Employed      F   61146  ...
10907  Bachelor        2011-02-06         Employed      F   39837  ...
10908   College        2011-02-13         Employed      F   64195  ...
10909  Bachelor        2011-01-08       Unemployed      M       0  ...

          policy type        policy  renew offer type  sales channel  \
0      Corporate Auto  Corporate L3            Offer3          Agent
1       Personal Auto   Personal L3            Offer4    Call Center
2       Personal Auto   Personal L3            Offer3    Call Center
3      Corporate Auto  Corporate L3            Offer2         Branch
4       Personal Auto   Personal L2            Offer1         Branch
...               ...           ...               ...            ...
10905   Personal Auto   Personal L1            Offer3            Web
10906   Personal Auto   Personal L3            Offer2         Branch
10907  Corporate Auto  Corporate L3            Offer1            Web
10908   Personal Auto   Personal L1            Offer1         Branch
10909   Personal Auto   Personal L1            Offer4            Web

       total claim amount  vehicle_class  vehicle_size vehicle_type  \
0              292.800000  Four-Door Car       Medsize      no_data
1              744.924331  Four-Door Car       Medsize      no_data
2              480.000000            SUV       Medsize            A
3              484.013411  Four-Door Car       Medsize            A
4              707.925645  Four-Door Car       Medsize      no_data
...                   ...            ...           ...          ...
10905         1214.400000     Luxury Car       Medsize            A
10906          273.018929  Four-Door Car       Medsize            A
10907          381.306996     Luxury SUV       Medsize      no_data
10908          618.288849            SUV       Medsize            A
10909         1021.719397            SUV       Medsize      no_data

      effective_to_date_months month
0                   2011-02-18     2
1                   2011-01-18     1
2                   2011-02-10     2
3                   2011-01-11     1
4                   2011-01-17     1
...                        ...   ...
10905               2011-01-19     1
10906               2011-01-06     1
10907               2011-02-06     2
10908               2011-02-13     2
10909               2011-01-08     1

[10910 rows x 27 columns]

In [64]:
def jan_to_mar():
    other_months = file[file["month"]> 4]
    jan_feb_mar = file[file['month'] < 4]

if jan_to_mar:
    print (jan_feb_mar)
else:
    print(ther_months) 

  
jan_to_mar()

      customer       state  customer lifetime value response  coverage  \
0      DK49336     Arizona              4809.216960       No     Basic
1      KX64629  California              2228.525238       No     Basic
2      LZ68649  Washington             14947.917300       No     Basic
3      XL78013      Oregon             22332.439460      Yes  Extended
4      QA50777      Oregon              9025.067525       No   Premium
...        ...         ...                      ...      ...       ...
10905  FE99816      Nevada             15563.369440       No   Premium
10906  KX53892      Oregon              5259.444853       No     Basic
10907  TL39050     Arizona             23893.304100       No  Extended
10908  WA60547  California             11971.977650       No   Premium
10909  IV32877     no_data              6857.519928  no_data     Basic

      education effective_to_date employmentstatus gender  income  ...  \
0       College        2011-02-18         Employed      M   48029  ...
1       College        2011-01-18       Unemployed      F       0  ...
2      Bachelor        2011-02-10         Employed      M   22139  ...
3       College        2011-01-11         Employed      M   49078  ...
4      Bachelor        2011-01-17    Medical Leave      F   23675  ...
...         ...               ...              ...    ...     ...  ...
10905  Bachelor        2011-01-19       Unemployed      F       0  ...
10906   College        2011-01-06         Employed      F   61146  ...
10907  Bachelor        2011-02-06         Employed      F   39837  ...
10908   College        2011-02-13         Employed      F   64195  ...
10909  Bachelor        2011-01-08       Unemployed      M       0  ...

          policy type        policy  renew offer type  sales channel  \
0      Corporate Auto  Corporate L3            Offer3          Agent
1       Personal Auto   Personal L3            Offer4    Call Center
2       Personal Auto   Personal L3            Offer3    Call Center
3      Corporate Auto  Corporate L3            Offer2         Branch
4       Personal Auto   Personal L2            Offer1         Branch
...               ...           ...               ...            ...
10905   Personal Auto   Personal L1            Offer3            Web
10906   Personal Auto   Personal L3            Offer2         Branch
10907  Corporate Auto  Corporate L3            Offer1            Web
10908   Personal Auto   Personal L1            Offer1         Branch
10909   Personal Auto   Personal L1            Offer4            Web

       total claim amount  vehicle_class  vehicle_size vehicle_type  \
0              292.800000  Four-Door Car       Medsize      no_data
1              744.924331  Four-Door Car       Medsize      no_data
2              480.000000            SUV       Medsize            A
3              484.013411  Four-Door Car       Medsize            A
4              707.925645  Four-Door Car       Medsize      no_data
...                   ...            ...           ...          ...
10905         1214.400000     Luxury Car       Medsize            A
10906          273.018929  Four-Door Car       Medsize            A
10907          381.306996     Luxury SUV       Medsize      no_data
10908          618.288849            SUV       Medsize            A
10909         1021.719397            SUV       Medsize      no_data

      effective_to_date_months month
0                   2011-02-18     2
1                   2011-01-18     1
2                   2011-02-10     2
3                   2011-01-11     1
4                   2011-01-17     1
...                        ...   ...
10905               2011-01-19     1
10906               2011-01-06     1
10907               2011-02-06     2
10908               2011-02-13     2
10909               2011-01-08     1

[10910 rows x 27 columns]

In [45]:
file

,customer,state,customer lifetime value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,policy type,policy,renew offer type,sales channel,total claim amount,vehicle_class,vehicle_size,vehicle_type,effective_to_date_months,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,no_data,2011-02-18,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,no_data,2011-01-18,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011-02-10,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,no_data,2011-01-17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,2011-01-19,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011-01-06,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,no_data,2011-02-06,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011-02-13,2
10909,IV32877,no_data,6857.519928,no_data,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,no_data,2011-01-08,1